<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistem Informasi Toko Mobil</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/AdminLTE.min.css}" />
    <link rel="stylesheet" th:href="@{/css/skins/_all-skins.min.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <div class="logo">
            <span class="logo-lg"><b>TOKO</b>MOBIL</span>
        </div>
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">Admin</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header" style="height: auto;">
                                <p></p>
                                <p>Bekerja Sebagai: Admin</p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="" class="btn btn-default btn-flat">Keluar</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">NAVIGASI UTAMA</li>
                <li>
                    <a th:href="@{/api/home}" >
                        <span>Beranda</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/api/mobil}" >
                        <span>Manajemen Mobil</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Manajemen Mobil</h1>
            <ol class="breadcrumb">
                <li>Beranda</li>
                <li>Manajemen Mobil</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="col-md-3 pull-right">
                                <a th:href="@{/api/mobil/add}" type="button" class="btn btn-block btn-primary margin">Tambah Mobil</a>
                            </div>
                            <table id="example2" class="table table-bordered table-hover" style="margin-top: 10px;">
                                <thead>
                                    <tr>
                                        <th width="15%">No. Kerangka</th>
                                        <th width="10%">No. Polisi</th>
                                        <th width="35%">Merk</th>
                                        <th width="20%">Tipe</th>
                                        <th width="10%">Tahun</th>
                                        <th width="10%">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="mobil : ${mobils}">
                                        <td th:text="${mobil.noKerangka}"></td>
                                        <td th:text="${mobil.noPolisi}"></td>
                                        <td th:text="${mobil.merk}"></td>
                                        <td th:text="${mobil.tipe}"></td>
                                        <td th:text="${mobil.tahun}"></td>
                                        <td>
                                            <form th:action="@{/api/mobil/{id}(id=${mobil.mobilId})}" th:method="delete" >
                                                <input type="hidden" name="_method" value="delete" />
                                                <button type="submit" class="label label-danger">Hapus</button>
                                            </form>
                                            <form th:action="@{/api/mobil/{id}(id=${mobil.mobilId})}" th:method="get" >
                                                <input type="hidden" name="_method" value="get" />
                                                <button type="submit" class="label label-warning">Edit</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; SISTEM INFORMASI TOKO MOBIL</strong>
    </footer>
</div>
</body>
</html>